.root {

	-fx-body-color : #F5F5F5;
	-fx-outer-border : #cecece;
}

.background {

    -fx-background-color : linear-gradient(to bottom left, #15193C, #1A2D4D);
}
.button1 {

    -fx-background-color : #1D3655;
    -fx-text-fill : #FFFFFF;
    -fx-border-color : #FFFFFF;
    -fx-border-radius : 5;
}

.button1:pressed {

    -fx-background-color : #1D3655;
    -fx-text-fill: #5B64F7;
    -fx-border-color : #5B64F7;
    -fx-border-radius : 5;
}

.button2 {

    -fx-border-color : #FFFFFF;
    -fx-background-color : linear-gradient(to bottom left, #15193C, #1A2D4D);
    -fx-border-radius : 5;
}

.button2:pressed {

    -fx-border-color : #5B64F7;
    -fx-border-radius : 5;
}
